body {
  background-image: url("image12.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  color: rgb(150, 96, 15);
}
a:hover {
  color: rgb(27, 119, 194);
}
dl {
  list-style-type: symbols();
}
h3 {
  margin: 1px;
}
p {
  margin: 0%;
}
img {
  margin: 0%;
}
div {
  margin: 0ch;
}
.town {
  padding-top: 2pc;
}
.ro {
  padding-top: 2pc;
}
.dream {
  padding-top: 2pc;
}
.ho {
  padding-top: 2pc;
}
.hello {
  border-radius: 50%;
  border-color: rgb(150, 96, 15);
  border-width: 2px;
  border-style: solid;
}
