@import url(http://fonts.googleapis.com/css?family=Raleway:200);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


/* Preloading */
#loading {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  /*-webkit-animation: fadeOut 3.2s ease-in-out;*/
  /*-moz-animation: fadeOut 3.2s ease-in-out;*/
  /*-o-animation: fadeOut 3.2s ease-in-out;*/
  /*animation: fadeOut 3.2s ease-in-out;*/
}

#loading-middle {
  display: table-cell;
  vertical-align: middle;
}

#loading-inner {
  margin-left: auto;
  margin-right: auto;   
  width: 200px;
}

#loading-text {
  text-align: center;
}

.ball {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #ff5252; /* rgba(229, 12, 78, 0.9) */
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spinPulse 0.75s infinite linear;
  -moz-animation: spinPulse 0.75s infinite linear;
  -o-animation: spinPulse 0.75s infinite linear;
  -webkit-animation: spinPulse 0.75s infinite linear;
}

/*===========================================
=            spinPulse animation            =
===========================================*/

@keyframes spinPulse {
  0% { transform: rotate(160deg); opacity: 0; }

  50% { transform: rotate(100deg); opacity: 1; }

  100% { transform: rotate(-200deg); opacity: 0; };
}

@-moz-keyframes spinPulse {
  0% { -moz-transform: rotate(160deg); opacity: 0; }

  50% { -moz-transform: rotate(100deg); opacity: 1; }

  100% { -moz-transform: rotate(-200deg); opacity: 0; };
}

@-o-keyframes spinPulse {
  0% { -o-transform: rotate(160deg); opacity: 0; }

  50% { -o-transform: rotate(100deg); opacity: 1; }

  100% { -o-transform: rotate(-200deg); opacity: 0; };
}

@-webkit-keyframes spinPulse {
  0% { -webkit-transform: rotate(160deg); opacity: 0; }

  50% { -webkit-transform: rotate(100deg); opacity: 1; }

  100% { -webkit-transform: rotate(-200deg); opacity: 0; };
}

/*-----  End of spinPulse animation  ------*/



/*=========================================
=            fadeOut animation            =
=========================================*/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
    /*-webkit-transform: translateY(200px);*/
    /*transform: translateY(200px);*/
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
    /*-webkit-transform: translateY(200px);*/
    /*transform: translateY(200px);*/
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
    /*-webkit-transform: translateY(200px);*/
    /*transform: translateY(200px);*/
  }
}

/*-----  End of fadeOut animation  ------*/



/*============================================
=            Change colors/themes            =
============================================*/

html, body {
  margin: 0;
  height: 100%;
  color: #ccc;
  background: #383838;
  font-weight: 200;
  font-size: 1.15em;
  font-family: 'Raleway', Arial, sans-serif;
}

.menu__handle {
  background: #383838;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #ccc;
}

.special-link {
  color: #ff5252;
  position: relative;
  text-decoration: none;
}

.special-link:hover {
  color: #ff5252;
}

.special-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px; /* 2px */
  bottom: 0;
  left: 0;
  background-color: #ff5252;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.special-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a, a:hover, a:focus {
  outline: none;
}

a {
  color: #ff5252;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

/* project headers */
h2 {
  color: #ff5252;
  text-align: center;
}

.view-link {
  text-align: center;
  display: table;
  width: 100px;
  height: 50px;
  position: relative;
  margin: auto;
  background-color: #383838;
  box-shadow: inset 0 0 0 3px #383838
}

.view-link:hover {
  color: #383838;
  background-color: #ccc;
}

/*-----  End of Change colors/themes  ------*/

/*================================================
=            content-container fadeIn            =
================================================*/

@keyframes fadeIn {
  0% { opacity: 0; top: -100%;}
  100% { opacity: 1; top: 0%;}
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; top: -100%;}
  100% { opacity: 1; top: 0%;}
}

@-o-keyframes fadeIn {
  0% { opacity: 0; top: -100%;}
  100% { opacity: 1; top: 0%;}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; top: -100%;}
  100% { opacity: 1; top: 0%;}
}


/*-----  End of content-container fadeIn  ------*/




.side-bar-icons {
  cursor: pointer;
}

#fp-nav {
  display: none;
}

#content-container {
  display: none;
  height: 100%;
  -moz-animation: fadeIn 1s ease-in-out;
  -webkit-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

#fullpage {
  /*margin-top: 45px;*/
  margin-right: 60px;
  min-height: 100%;
  height: auto;
  margin-bottom: -30px;
  padding: 0 0 30px 0; 
  /*overflow: hidden;*/
  position: relative;

}

.main-normal {
  margin-left: 120px;
}

.main-offset {
  margin-left: 260px;
}

.main-blurred {
  opacity: 0.2;
}

/*.slide-normal {
  margin-left: 120px;
}

.slide-offset {
  margin-left: 200px;
}*/


#contact-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

#contact-middle {
  /*display: table-cell;*/
  vertical-align: middle;
}

#contact-inner {
  margin-left: auto;
  margin-right: auto;   
}

h1 {
  text-align: center;
}

.list-inline {
  text-align: center;
  margin: auto;
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

#projects-section {
  text-align: center;
}

#projects-direction {
  position: absolute;
  text-align: center;
  top: 0%;
  left: 25%;
  right: 25%;
  margin: auto;
}

#main-title {
  position: absolute;
  text-align: center;
  color: #ff5252;
  top: 5%;
  left: 25%;
  right: 25%;
  margin: auto;
  font-weight: 400;
  font-size: 2.5em;
  font-family: 'Quicksand', Arial, sans-serif;
}

#projects-direction h1 {
  margin: 20px 0 0 0;
  color: #ff5252;
}

#projects-direction p {
  margin: 10px;
  font-size: 0.8em;
}

@media (max-width: 800px) {
  #projects-direction {
    /*position: absolute;
    text-align: center;
    top: -10%;
    left: 25%;
    right: 25%;
    margin: auto;*/
    display: none
  }
}

#footer {
  height:30px;
  margin: 0px;
  text-align: center;
  font-size: 0.75em;
}

.projects {
  text-align: left;
  display: block;
}

.built-with {
  /*text-decoration: bold;*/
  color: #ff5252;
}

.project-descriptions {
  height: 150px;
  display: table-row;
  margin-bottom: 20px;
}

.project-more {
  height: 50px;
  display: table-row;
}

.project-more p {
  height: 50px;
  /*display: table-row;*/
}

/*=================================
=            View link            =
=================================*/

.link-container-middle {
  display: table-cell;
  vertical-align: middle;
}

.view-link-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.view-link-svg line.top,
.view-link-svg line.bottom  {
  stroke-width: 3;
  stroke: #ff5252;
  fill: none;
  stroke-dasharray: 100;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: transform .3s;
}

.view-link-svg line.left,
.view-link-svg line.right  {
  stroke-width: 3;
  stroke: #ff5252;
  fill: none;
  stroke-dasharray: 50;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: transform .3s;
}

.view-link:hover svg line.top {
  stroke: #ccc;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}

.view-link:hover svg line.bottom {
  stroke: #ccc;
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
}

.view-link:hover svg line.left {
  stroke: #ccc;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.view-link:hover svg line.right {
  stroke: #ccc;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

/*-----  End of View link  ------*/


/*==========  ConnectFour links  ==========*/
#connect-four-links-container {
  text-align: center;
  margin: auto;
}

#connect-four-links-container .view-link {
  text-align: center;
  display: inline-table;
  margin: 0px 30px;
}
