body {background-image: url("image12.jpg"); 
    background-repeat:repeat;
background-attachment: fixed;}
a{
    color: rgb(150, 96, 15);}
    a:hover {
        color: rgb(27, 119, 194);}
        dl.b {
            list-style-type:square ;
          }
        
